html {
  scroll-snap-type: y mandatory;
}

.App {
background-color: rgb(0, 0, 0);
height: 100vh;
display: grid;
place-items: center;
}

.app-videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/*Esconde scrollbar Chrome Safari*/
.app-videos::-webkit-scrollbar{
  display: none;
}

/*Esconde scrollbar IE Firefox Edge*/
.app-videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}